<% @recipes = Recipe.all %>
<table class="table">
  <% @recipes.each do |recipe| %>
    <tr> 
      <td>
        <%= link_to recipe.name, "recipes/show/" + recipe.id.to_s %> 
      </td>
    </tr>
  <%end %>
</table>