<h2> RIS </h2>
<br>
<%= link_to 'DB', controller: "db" %> <br>
<%= link_to 'Zutatensuche', controller: "recipe_search" %> <br>
<% @ingredients = Ingredient.all %>
<% @ingredients.each do |ingredient| %>
  <%= link_to 'Zutatenanzeige ' + ingredient.name, "ingredient_display/" + ingredient.id.to_s %> <br>
<%end %>
