<h2> Database Tables: </h2>
These Links provide access to the database tables. You can add, change and delete entries, so I 
recommend using these pages for database content-administration. If you want to add new databases
you will have to add them via rails. After adding those new tables please add the link to the 
file "app/views/db/index.html.erb". 
<br>
<a href="/customers">Customers</a>
<br>
<a href="/ingredients">Ingredients</a>
<br>
<a href="/recipes">Recipes</a>