
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> -->

<h1>Kontakt</h1><p><br/><br/></p>
<p>Oyozzy Software AG<br />
Hinterm Wasserfall 1<br />
39123 Magdeburg<br />
</p>

<table><tr>
<td><p>Telefon:</p></td>
<td><p>+49 042 230 0742</p></td></tr>
<tr><td><p>Telefax:</p></td>
<td><p>+49 042 230 0741</p></td></tr>
<tr><td><p>E-Mail:</p></td>
<td><p>mail@RIS.de</p></td>
</tr></table>
<p> </p>