<%= form_tag("/ingredient_display", method: "get") do %>
  <div class="field">
    <%= label_tag(:q, "Search for:") %>
  </div>
  <div class="field">
    <%= text_field_tag(:q) %>
  </div>
  <div class="actions">
    <%= submit_tag("Search") %>
  </div>
<% end %>
