// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  font-weight: bold;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
html,
body {
  height: 100%;
}
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #FFF;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}
//Override for the navigation bar
.navbar-fixed-top {
  background-color: #060;
}
//Layout for the page content to push down footer
#layout {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  //Ignore footers height
  margin: 0 auto -60px;
  //Pad bottom footer height
  padding: 0 0 60px;
}
//Set the fixed height for footer
#footer {
  height: 60px;
  background-color: #e5e5e5;
}

