<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6">
     		<pre>
  <%= link_to 'Impressum', controller: "impressum" %> <br> 
  <%= link_to 'Kontakt', controller: "kontakt" %> <br>
  
</pre>
    </div>
  <div class="col-md-3"></div>
</div>    