<%# add navigation links to this file %>
<%#placeholder below is required, so the comment doesn't get ignored
<%# Example Link: <li><%= link_to 'Customers', controller: "customers" %placeholder> </li> %>
